* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    60deg,
    #0031ff,
    #5d00ff,
    #f200ff,
    #ff4800,
    #3fff00
  );
  background-size: 700% 700%;
  animation: color 5s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.thanks {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-thanks {
  padding: 10px;
  width: 40%;
  height: 60vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;
}

.btn {
  margin-top: 25px;
  width: 50%;
  border: 2px solid white;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(94, 104, 121, 0.3);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: white;
}
